<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Настройки</title>
</head>
<body>
    <a th:href="@{'/delete/' + ${login}}"><button type="button">Удалить аккаунт</button></a><br><br>
    <a th:href="@{'/change_password/' + ${login}}"><button type="button">Сменить пароль</button></a><br><br><br>
    <a href="/"><button type="button">На главную</button></a>
</body>
</html>